[submodule "libs/spdlog"]
	path = libs/spdlog
	url = https://github.com/gabime/spdlog
[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/umarbaevB/imgui
[submodule "libs/sdl"]
    path = libs/sdl
    url = https://github.com/SDL-mirror/SDL
[submodule "libs/glew"]
    path = libs/glew
    url = https://github.com/nigels-com/glew    
[submodule "libs/glm"]
    path = libs/glm
    url = https://github.com/g-truc/glm